$bg-color: black !default
$contrast-color: white !default

@import common

.group-1
  .two
    img
      opacity: 0.2

.group-21
  .four
    color: $contrast-color

.group-22
  .four
    color: $contrast-color

.group-23
  .four
    color: $contrast-color
